.meme-generator {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #000;
}

h1 {
  font-size: 24px;
  color: #333;
}

#meme-image {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.text-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.top-text-box,
.bottom-text-box {
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.meme-image-container {
  position: relative;
}

.meme-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
  color: tomato;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

label {
  font-size: 18px; /* Set the desired font size */
  color: #333; /* Set the desired font color */
  margin-bottom: 8px; /* Add some vertical spacing between labels and inputs */
}
